
body {
	background-color:#aaccff; 
	font-size:10px;
	font-weight:bold;
	font-family:   "Avant Garde", 
					Avantgarde, 
				   "Century Gothic",
				    CenturyGothic, 
				   "AppleGothic", 
				    sans-serif;
}

sm   {
	font-size:8px;
}


table {	
	font-size: 12px;
	font-family:	"Avant Garde", 
					 Avantgarde, 
					"Century Gothic",
					 CenturyGothic, 
					"AppleGothic", 
					 sans-serif; 
	}


a:link    {color:#cc6633;}
a:visited {color:#cc6633;}
a:hover   {color:#11aaff;}
a:active  {color:#ffcc33;} 


#backbutton{
	float:right;
}


#scroller_div{
	height:80%;
	background-color:#bbbbbb;
	padding:10px;
	overflow:scroll;
}


#updatediv{
	background-color:#777777; 
	color:#ffffff; 
	padding:20px;	
	left:-10px;
	position:fixed;
	top:0px;
	height:30px;
	width:100%;
}

#updatediv_two{
	background-color:#bbbbbb; 
	color:#ffffff; 
	padding:20px;
	width:20%;
	z-index:1000;
	position:fixed;
	height:100%;
	top:70px;
	left:-10px;
	
	
}

#all_records{
	background-color:#1199cc; 
	font-size:8px;
	position:absolute;
	top:80px;
	left:23%;
	margin-bottom:75px;
}

#description{
	background-color:#ff9999; 
	color:#000000; 
	font-size:8px;
}

.datarow{
	color:#000000
}


